@page
@model IndexModel
@{
    ViewData["Title"] = "The Home ";
    TimeSpan timeInBusiness = DateTime.Now - new DateTime(2018, 8, 14);
    
}

<div class="text-center">
    <h1 class="display-4">Welcome to Home</h1>
    
</div>
